node_modules/
build/
dist/
.env
.env.local
backend/data/
backend/uploads/
*.log
.DS_Store
.vscode/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
/.cache/
/.parcel-cache/
Thumbs.db

# Local Netlify folder
.netlify
